   @font-face {
       /*font-family: "Britannic Bold";*/
       src: url('britanic.ttf');
   }

   @font-face {
       /*font-family: "BankGothic Md BT";*/
       src: url('bank-gothic-medium-bt.ttf');
   }

   @font-face {
       /*font-family: "Papyrus";*/
       src: url('papyrus.ttf');
   }

   #gameTitle {
       -fx-font-size: 34;
       -fx-font-family: "Britannic Bold";
   }

   #gameBlurb {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT";
   }

   #credit {
       -fx-font-size: 16;
       -fx-font-family: "BankGothic Md BT";
   }

   #creditTitle {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT";
   }

   #sliderText {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT"
   }

   #levelText {
       -fx-font-size: 19;
       -fx-font-family: "BankGothic Md BT"
   }

   #codeTitle {
       -fx-font-size: 30;
       -fx-font-family: "Papyrus";
   }

   #riddleCodeLabel {
       -fx-font-size: 70;
       -fx-font-family: "Papyrus";
   }

   #puzzleCodeLabel {
       -fx-font-size: 70;
       -fx-font-family: "Papyrus";
   }

   .button {
       -fx-border-radius: 2px;
       -fx-background-color: #b5a10c;
       -fx-text-fill: white;
       -fx-font-family: "BankGothic Md BT";
       -fx-font-size: 32px;
       -fx-text-align: center;
       -fx-transition-duration: 0.4s;
       -fx-border-width: 2px;
       -fx-border-style: solid;
       -fx-border-color: #b5a10c;
   }

   .button:hover {
       -fx-background-color: white;
       -fx-text-fill: #b5a10c;
   }

   #startGame {
       -fx-font-size: 17px;
   }

   #goBack {
       -fx-font-size: 15px;
   }

   #goMainMenu {
       -fx-font-size: 26px;
   }