   @font-face {
       font-family: "Britannic Bold";
       src: url('../fonts/britanic.ttf');
   }

   @font-face {
       font-family: "BankGothic Md BT";
       src: url('../fonts/bank-gothic-medium-bt.ttf');
   }

   @font-face {
       font-family: "Papyrus";
       src: url('../fonts/papyrus.ttf');
   }

   #gameTitle {
       -fx-font-size: 34;
       -fx-font-family: "Britannic Bold";
   }

   #gameBlurb {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT";
   }

   #credit {
       -fx-font-size: 16;
       -fx-font-family: "BankGothic Md BT";
   }

   #creditTitle {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT";
   }

   #sliderText {
       -fx-font-size: 28;
       -fx-font-family: "BankGothic Md BT"
   }

   #levelText {
       -fx-font-size: 19;
       -fx-font-family: "BankGothic Md BT"
   }

   #codeTitle {
       -fx-font-size: 30;
       -fx-font-family: "Papyrus";
   }

   #riddleCodeLabel {
       -fx-font-size: 70;
       -fx-font-family: "Papyrus";
   }

   #puzzleCodeLabel {
       -fx-font-size: 70;
       -fx-font-family: "Papyrus";
   }